In [1]:
import pandas as pd

In [2]:
movies = pd.read_csv("../db/movies.csv")

In [3]:
movies.columns = [c.lower().replace(' ', '_') for c in movies.columns]

In [4]:
movies.head()

,unnamed:_0,close,movie_title,opening_theaters,opening_day_date,opening_gross_amount,rank,studio,total_theaters,total_gross,...,black,white,gray,red,yellow,green,cyan,blue,magenta,rotten_tomatoes_score
0,0,NaN,Vice Squad,510.0,22-Jan,1717205.0,1.0,Emb,510.0,13253583.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
1,1,NaN,The Seduction,597.0,22-Jan,1503543.0,2.0,Emb,597.0,11378339.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
2,2,NaN,Shoot the Moon,585.0,22-Jan,1870000.0,3.0,MGM,585.0,9217530.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,8.2
3,3,NaN,The Border,84.0,29-Jan,516014.0,4.0,Uni.,888.0,6118683.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,8.2
4,4,NaN,Venom,900.0,29-Jan,1672747.0,5.0,Par.,900.0,5229643.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN

In [6]:
movies = movies.drop('unnamed:_0', axis=1)
movies.head()

,close,movie_title,opening_theaters,opening_day_date,opening_gross_amount,rank,studio,total_theaters,total_gross,year,...,black,white,gray,red,yellow,green,cyan,blue,magenta,rotten_tomatoes_score
0,NaN,Vice Squad,510.0,22-Jan,1717205.0,1.0,Emb,510.0,13253583.0,1982,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
1,NaN,The Seduction,597.0,22-Jan,1503543.0,2.0,Emb,597.0,11378339.0,1982,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
2,NaN,Shoot the Moon,585.0,22-Jan,1870000.0,3.0,MGM,585.0,9217530.0,1982,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,8.2
3,NaN,The Border,84.0,29-Jan,516014.0,4.0,Uni.,888.0,6118683.0,1982,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,8.2
4,NaN,Venom,900.0,29-Jan,1672747.0,5.0,Par.,900.0,5229643.0,1982,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN

In [7]:
movies.to_csv("movies_final.csv", encoding='utf-8', index=False)